* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
body {
    position: relative;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    background: aliceblue;
}
.image_list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.image_list img {
    height: 200px;
    margin: 5px;
}
.image_list.admin img {
    height: 100px;
    margin: 5px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    padding: 10px;
}
ul {
    display: flex;
}
li {
    list-style-type: none;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: teal;
    font-weight: bold;
    white-space: nowrap;
    background: rgba(255, 227, 77, 0.33);
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
a:hover {
    background: #ffe34d;
}
button {
    padding: 10px 15px;
    background: #f1f1f1;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.53);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
}
button:hover {
    background: #848787;
    border: 1px solid rgba(0, 0, 0, 0.53);
}
h1 {
    margin-bottom: 30px;
}
h2 {
    margin: 15px 0;
}
nav {
    margin-bottom: 30px;
}
textarea {
    width: 500px;
    height: 200px;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
}
.text {
    margin: 20px 0;
    padding: 20px;
    background: rgba(213, 213, 213, 0.35);
}
.main_image {
    height: 300px;
}
img {
    max-height: 100%;
    max-width: 100%;
}
.admin_trains {
    margin-bottom: 20px;
}
input[type='number'],
input[type='text'] {
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}
input[type='datetime-local'] {
    padding: 7.5px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}
